*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header{
    background-color: #2C3E50;
    color: white;
}
header .row{
    min-height: 88px;
}

a{
    color: white;
}

header .ms_height{
    height: 88px;
} */

/* Common ---------------------- */

.ms_section-green{
    background-color: #1ABC9C;
    color: white;
}

.ms_section-white:nth-child(4){
    color: #2C3E50;
}

h1{
    font-size: 3.5rem;
}
h2{
    font-size: 2.7rem;
}

.ms_star-container{
    position: relative;
}

.ms_star-container::before{
    content: "";
    height: 3px;
    width: 170px;
    position: absolute;
    right: 45px;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 50px;
}

.ms_star-container::after{
    content: "";
    height: 3px;
    width: 170px;
    position: absolute;
    left: 45px;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 50px;
}

.ms_section-green .ms_star-container::before, .ms_section-green .ms_star-container::after{
    background-color: white;
}

.ms_section-white .ms_star-container::before, .ms_section-white .ms_star-container::after{
    background-color: #2C3E50;;
}

/* ---------------- */

nav{
    min-height: 88px;
    color: white;
}


.ms_section-green:first-child{
    height: 587px;
}

#avatar{
    width: 227px;
}

#portfolio{
    background-color: white;
}

#portfolio .ms_padding{
    padding: 100px;
}

#portfolio img{
    width: 100%;
    border-radius: 10px;
}

#about{
    padding: 0 20px;
}

#about p{
    columns: 2;
}

#contact{
    background-color: white;
}

#contact .col-md-8{
    position: relative;
}

#contact .col-md-8:nth-child(5){
    padding-bottom: 120px;
}

.ms_client-info::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #c0c0c0;
    bottom: 0;
    left: 0;
}


/* FOOOTER -------------------- */

footer{
    min-height: 342px;
    color: white;
}

.ms_freelancer-info{
    height: 230px;
    background-color: #3A546D;
}

.ms_copyright{
    height: 112px;
    background-color: #2C3E50;
}

.ms_padding:first-child{
    padding: 10px 20px;
}

.ms_padding:nth-child(2){
    padding: 4px 14px;
}

.ms_padding:nth-child(3){
    padding: 10px 16px;
}

.ms_padding:last-child{
    padding: 10px 17px;
}

footer .ms_a-color{
    color: #1ABC9C;
}


/* Mediaqueries ------------------- */

@media screen and (min-width: 576px) and (max-width: 768px){

    h1{
        font-size: 3em;
    }

    .ms_star-container::before, .ms_star-container::after{
        width: 120px;
    }

    .ms_occupations{
        font-size: 1.3rem;
    }

    #portfolio .ms_padding{
        padding: 50px 0;
    }

    #about{
        padding: 0;
    }
}

@media screen and (max-width: 575px){
    
    h1{
        font-size: 2em;
    }
    
    h2{
        font-size: 1.5rem;
    }

    .ms_star-container::before, .ms_star-container::after{
        width: 55px;
    }

    #portfolio{
        height: fit-content;
    }

    #portfolio .ms_padding{
        padding: 50px 0;
    }

    #about p{
        display: flex;
        flex-direction: column;
    }

    .ms_freelancer-info .row{
        flex-direction: column;
        gap: 50px;
    }

    .ms_freelancer-info{
        min-height: 450px;
    }
}


/* DEBUG */

/* .row{
    border: 2px dashed blue;
}

div[class^="col"]{
    border: 2px dashed red;
}
 */
