*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header{
    background-color: #2C3E50;
    color: white;
} 
header .row{
    min-height: 88px;
} 


a{
    color: white;
}

header .ms_height{
    height: 88px;
} */

/* Common ---------------------- */

.ms_section-green{
    background-color: #1ABC9C;
    color: white;
}

.ms_section-white:nth-child(4){
    height: 686px;
    color: #2C3E50;
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 2.7rem;
}

.ms_star-container{
    position: relative;
}

.ms_star-container::before{
    content: "";
    height: 4px;
    width: 160px;
    position: absolute;
    right: 55px;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 50px;
}

.ms_star-container::after{
    content: "";
    height: 4px;
    width: 160px;
    position: absolute;
    left: 55px;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 50px;
}

.ms_section-green .ms_star-container::before, .ms_section-green .ms_star-container::after{
    background-color: white;
}

.ms_section-white .ms_star-container::before, .ms_section-white .ms_star-container::after{
    background-color: #2C3E50;;
}

/* ---------------- */

.ms_section-green:first-child{
    height: 587px;
}

.ms_section-green:first-child img{
    width: 18%;
}

.ms_section-white:nth-child(2){
    height: 850px;
    background-color: white;
}

.ms_section-white:nth-child(2) img{
    width: 100%;
    border-radius: 10px;
}

.ms_section-green:nth-child(3){
    height: 490px;
}

.ms_section-green:nth-child(3) p{
    columns: 2;
}

.ms_section-white:nth-child(4){
    height: 686px;
    background-color: white;
}

/* FOOOTER -------------------- */

footer{
    min-height: 342px;
}

.ms_freelancer-info{
    height: 230px;
    background-color: #3A546D;
}

.ms_copyright{
    height: 112px;
    background-color: #2C3E50;
}


/* DEBUG */

/* .row{
    border: 2px dashed blue;
}

div[class^="col"]{
    border: 2px dashed red;
}
 */

