*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #2C3E50;
    color: white;
    height: 88px;
}

a{
    color: white;
}

header .ms_height{
    height: 88px;
}

main .ms_height{
    height: 100%;
}

.ms_section-green{
    background-color: #1ABC9C;
}

.ms_section-green:first-child{
    height: 587px;
}

.ms_section-white:nth-child(2){
    height: 854px;
    background-color: white;
}




/* DEBUG */

.row{
    border: 2px dashed blue;
}

div[class^="col"]{
    border: 2px dashed red;
}


